/* Main Properties */
* {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;



}

.container {
  max-width:1107px;
  margin-right: auto;
  margin-left:auto;


}




/* Header */
header {
  background:#fafafe;
  height: auto;
}

.header-info {
  padding-top: 10rem;
  text-align: center;
  margin:0 auto;

}

.header-info  p {
  color:#949494;
  padding-top:20px;

}


.header-image {
  margin: 0 auto;
}
.header-image img {
  vertical-align: middle;
  width:100%;
}

.header-input,p.op{
  font-size: 1.8em;
    color: darkgreen;
    font-weight: bolder;

}

.header-input button {

border-radius: 20px;
width:150px;
color:#fff;
background:#5e2ced;
border:1px solid #fafafa;
padding:10px;
    margin-bottom: 20px;
}

.header-input button:hover {
  background: #fff;
  border:1px solid #5e2ced;
  color:#5e2ced;
  transition-duration: 0.5s;
}


.nav {
  position: fixed;
  background: #fff;
  width: 100%;
  padding:0 0;
  border-bottom:1px solid #e7e7e7;
}

.nav ul {
  float:right;
  margin-top:20px;
  display: inline-flex;
}

.nav li {
  display: inline;
  margin:10px 20px;
}
.nav a {
  text-decoration: none;
  color:#333;
}

.logo {
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  margin-top:20px;
  width: 200px;
  float:left;
  display: inline-block;
}

/*  ---fee input---   */

.fee_input {
  background: #fafafa;
  padding:5rem 0;
  height: auto;
  overflow: hidden;

}

.fee_input_text {
    text-align: center;
}


.fee_input_text p {
  padding:1rem 0;
  color:black;
}

.btn2 {
    margin-top: 6px;

    border-radius: 20px;
  width:150px;
  color:#fff;
  background:#5e2ced;
  border:1px solid #fafafa;
  padding:10px;
}
.btn2:hover {
    background: #fff;
  border:1px solid #5e2ced;
  color:#5e2ced; 
  transition-duration: 0.5s;
}


#results {
    width: 100%;
    height: 60px;
    background: maroon;
    margin-top: 20px;
    margin-bottom: 40px;
    display: none; 
    padding-top: 15px; 

}

p.here {
   font-size: 1.5em;
color: darkgreen;
font-weight: bolder;
 
}

p.herre {
    font-size: 1.5em;
    color: red;
    font-weight: bolder;
    
    margin-bottom: 800px;
     
}
/*---Footer---*/
.footer {
  padding:5rem 0;
  height: auto;
  overflow: hidden;
  background:#fafafa;
  border-top:1px solid #5e2ced;
}

.footer p {
  color:#949494;
  text-align: left;
  padding: 2rem 0;
}

.col {
  width:24%;
  height: 300px;
  display: inline-block;
  padding:0 20px;
  vertical-align: top;
}

.col input {
  border-radius: 20px;
  border:1px solid #f1f1f1;
  display: inline-block;
  padding:10px;
  width:100%;
}

.col button {
    height: 40px;
    border-radius: 50px;
    margin-top: 1.5rem;
    padding: 10px;
    background: #5e2ced;
    width: 130px;
    border: 1px solid #fff;
    color: #fff;
}

.col button:hover {
  background:#fff;
  border:1px solid #5e2ced;
  color:#5e2ced;
  transition-duration: 0.5s;
}



.col-box {
  padding-left:30px;
}

.col-box ul {
  padding-top: 20px;
}


.col-box li {
  list-style: none;
  padding-top:10px;
}

.col-box a {
  color:#949494;
  text-decoration: none;
}


.social a {
  font-size: 30px;
  display: inline-block;
}

.social a:nth-child(3) {
  margin-left: 10px;
}
.social a:nth-child(4) {
  margin-left: 10px;
}
.social a:nth-child(5) {
  margin-left: 10px;
}



a:link{
    text-decoration: none;
    color: black;
    

}
a:hover{
   color: red;
   text-decoration: underline;

}